.post {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.4);
  padding: 20px;
  box-shadow: 10px 10px 20px 0px  var(--shadow-color);
  text-align: center;
}
.post > img {
  border-radius: 15px;
  max-width: calc(47vw);
  margin: auto;
  margin-top: 15px;
}

video {
  width: 640px;
  height: 480px;
}