.nav {
  position: fixed;
  top: 50%;
  left: 12.5%;
  /* left: calc((100% - min(100%, 1920px)) / 2 + (25% / 2)); */
  transform: translate(-50%, -50%);
  width: min(80%, 250px);
}

.nav li {
  position: relative;
  font-size: 12px;
}

.nav li:nth-child(1) {
  z-index: 6;
}
.nav li:nth-child(2) {
  z-index: 5;
  margin-left: 40px; /* Сдвигаем вправо чтобы показать под первым кубом */
}
.nav li:nth-child(3) {
  z-index: 4;
}
.nav li:nth-child(4) {
  z-index: 3;
  margin-left: 40px; /* Сдвигаем вправо чтобы показать под первым кубом */
}
.nav li:nth-child(5) {
  z-index: 2;
}
.nav li:nth-child(6) {
  z-index: 1;
  margin-left: 40px; /* Сдвигаем вправо чтобы показать под первым кубом */
}