
body {  
  font: 14px/1.5em "Lucida Grande",Arial,sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

#root > div {
  /* Отключаем padding от Bootstrap */
  /* Костыль! Так как .body сжирается минификацией, то пишем как #root > div */
  padding: 0px 15px;
}

@media (max-width: 480px) {
  .row,
  .row > * {
    margin: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}